:root{
  /* Criando variáveis de cores para inserir no nosso 
  documento html */
  --primary-color: #0A112B;
  --white-color:#FFFFFF;
  --gap:3rem;
  --light-gray-collor:#EEEEEE;
  --secondary-color: crimson;
}
*{
  margin: 0;
  padding: 0;
}
html{
  /* O tamanhod da fonte do site será 62.5%, logo quando
  quisermos atribuir a qualquer elemento um font-site será interessante
  utilizarmos a unidade de medida rem (utiliza como padrão o tamanho do elemento
  root do html) */
  font-size: 62.5%
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

body{
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--primary-color);
  font-size: 2rem;
  line-height: 1.5;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Monserrat", sans-serif;
}
h1{
  font-size: 6rem;
  text-transform: uppercase;
}
h2{
  font-size: 5.5rem;
}
h3{
  font-size: 5rem;
}
h5{
  font-size: 4.5rem;
}
h5{
  font-size:3.5rem;
}
.main-bg{
  background-image: url("../imgs/main.svg");
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}
.white-bg{
  background-color: var(--white-color);
}

.main-content{
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}
.section{
  min-height: 100vh;
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom:0.1rem solid var(--light-gray-collor) ;
  /* Para as immagens não passarem no menu */
  z-index: 1;

}
.menu-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.menu h1{
  font-size: 2.3rem;
  color: var(--primary-color);
}
.menu h1 a{
  /* O valor do elemento a será baseado no valor
  do seu elemento pai */
  color: inherit;
}
.menu ul{
  list-style: none;
  display: flex;
  
}
.menu ul li a{
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--primary-color);
}

.menu ul li a:hover{
  transition: all 100ms ease-in-out;
  background:rgba(220, 20, 60, 0.4);
}
.menu-spacing{
  height: 6.5rem;
}
.intro-content{
  position: relative;
  top:-7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  height: 100vh;
}
.intro-text-content, .intro-img{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}
.intro-text-content h2{
  font-size: 6rem;
  margin-bottom: 5rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.intro-img img{
  max-width: 100%;
  height: auto;

}